---
import { MarkdownInstance } from 'astro'
import { format } from 'date-fns'

import { Props as Post } from '$/components/BlogPost.astro'

export interface Props {
	post: MarkdownInstance<Post>
}

const { post } = Astro.props

const url = (post.url || '').replace(/\/index$/, '')
const date = new Date(post.frontmatter.publishDate)
const published = format(date, 'PPP')
const ymd = format(date, 'yyyy-MM-dd')
---

<article class="post-preview">
	<header>
		<time datetime={ymd} class="publish-date">{published}</time>
		<a href={url}><h2 class="title">{post.frontmatter.title}</h2></a>
	</header>
	<section set:html={post.compiledContent()} />
</article>

<style>
	.post-preview :global(img) {
		max-width: 100%;
		height: auto;
	}

	.content :global(section > * + *) {
		margin-top: 1rem;
	}

	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	header {
		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: flex-start;
		justify-content: center;

		padding-bottom: 2rem;
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style>
