---
import { Markdown } from 'astro/components';
import BaseHead from '$/components/BaseHead.astro';
import BlogHeader from '$/components/BlogHeader.astro';
import BlogPost from '$/components/BlogPost.astro';

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt, disqusIdentifier, disqusCanonical } = content;

const canonical = permalink ?? Astro.request.canonicalURL;

---
<html lang={ content.lang || 'en' }>
  <head>
	<BaseHead title={title} description={description} permalink={canonical} />
	<link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
	<BlogHeader />
	<BlogPost title={title} author={author} heroImage={heroImage} publishDate={publishDate} alt={alt}>
	  <slot />
	</BlogPost>
	<div class="layout">
		<article id="disqus-comments" data-identifier={disqusIdentifier} data-url={disqusCanonical ?? canonical}>
			<header>
				<h2>Comments</h2>
			</header>
			<div id="disqus_thread"></div>
		</article>
	</div>
	<style>
#disqus_thread {
	background: white;
	background-clip: padding-box;
	border: thin solid rgba(0, 0, 0, 0.4);
	margin-bottom: 8rem;
	min-height: 26rem;
	padding: 1rem;
	position: relative;
}
	</style>
	<script>
var disqus_config = function() {
	const thread = document.getElementById('disqus-comments').dataset;
	this.page.url = thread.url;
	this.page.identifier = thread.identifier;
};
!function() {
	const s = document.createElement('script');
	s.src = 'https://settlers2.disqus.com/embed.js';
	s.async = 1
	s.setAttribute('data-timestamp', +new Date());
	document.head.appendChild(s);
}()
	</script>
  </body>
</html>

